@model IEnumerable<Notas.Models.Group>

@{
    ViewBag.Title = "Grupos";
}

<h2>Grupos</h2>

<p>
    @Html.ActionLink("Nuevo Grupo", "Create", new { }, new { @class ="btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            Profesor
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            Cant. Estudiantes
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GroupDetails.Count)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.GroupId }, new { @class = "btn btn-primary" } ) |
            @Html.ActionLink("Detalles", "Details", new { id=item.GroupId }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.GroupId }, new { @class = "btn btn-danger" } )
       </td>
    </tr>
}   

</table>
