@model Notas.Models.User

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>


<div class="row">
    <div class="col-md-7">

        <div>
            <h4>Usuario</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.UserName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UserName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FirstName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Phone)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Phone)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Address)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Address)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IsStudent)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IsStudent)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IsTeacher)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IsTeacher)
                </dd>

            </dl>
            <div>
                @if (Model.IsTeacher)
                {
                    <h4>Grupos de materia</h4>
                    if (Model.Groups.Count == 0)
                    {
                        <h5>No se han asignado grupos</h5>
                    }
                    else
                    {
                        <table class="table">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Groups.FirstOrDefault().Description)
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model.Groups)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                </tr>
                            }
                        </table>
                    }

                }
            </div>
        </div>
        <p>
            @Html.ActionLink("Editar", "Edit", new { id = Model.UserId }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Regresar", "Index", new { }, new { @class = "btn btn-success" })
        </p>
    </div>
    <div class="col-md-5">
        <h4>@Html.DisplayFor(model => model.FullName)</h4>
        <hr />
        @if (!string.IsNullOrEmpty(Model.Photo))
            {
            <img src="@Url.Content(Model.Photo)" alt="Image" style="width:250px;height:200px;max-width:100%; height:auto;" />
        }

    </div>
</div>
